{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages%}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<h1> Update Payment Information </h1>
<br>
<br>
<br>

<form action="#" method="post">
    <h5><pre>Device Number:<input type="number", name="dn"/></pre></h5>
    <h5><pre>X position in meter<input type="number", name="xps", step=any /></pre></h5>
    <h5><pre>Y position in meter<input type="number", name="yps", step=any /></pre></h5>
    <pre>           <input type="submit", value="Update Position" /></pre>
</form>
{% endblock %}
